.bg {
    position: absolute;
    z-index: 1;
    background-image: linear-gradient(to bottom, rgba(17, 17, 17, 0.8), transparent);
    height: 6rem;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.container {
    max-width: 95%;
    margin: 0 auto;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.esquerda {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.esquerda p {
    color: var(--white);
}

.esquerda img {
    max-width: 25%;
}

.direita {
    color: var(--white);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.icon {
    font-size: 20px;
}

.giovana {
    border-radius: 5px;
    background: url("../../assets/perfil_img.jpg");
    background-position: center;
    background-size: 100%;
    width: 40px;
    height: 40px;
}